.contact-container{
    background-color: var(--bg-color);
    padding:25px 40px;
    margin-bottom:20px;
}


.title p{
    font-weight: 900;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.top-body{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    text-align:justify;
    justify-content: center;
}

.bottom-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.bottom-body i{
    margin: 10px;
}

@media(max-width: 1000px){
    .contact-container{
        display: block;
    }
    .contact-container-left{
        width: 100%;
    }

}