* {
    box-sizing: border-box;
    
}

:root {
    --bg-color: white;
    --bg-color-secondary: #F5F5F5;
    --color-primary: #161616;
    --color-primary-hover: #161616db;
    --text-color: white;
    --color-secondary: #8E8E8E;
    --font-primary:'Poppins';
    --font-secondary:'Rubik';
}

body {
    background-color: var(--bg-color);
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    font-family: var(--font-primary), sans-serif;
    
}

.main-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0px;
}

.footer{
    
    background-color: var(--bg-color-secondary);
    padding: 0 25px;
    
}

.footer a{
    list-style: none;
    text-decoration: none;
}

.footer-all-elements{
    display:flex;
    justify-content: space-between;
}

.footer-elements-left {
    font-weight: 400;
    font-size: 14px;   
    display: flex;
    list-style-type: none;
}

.footer-elements-left a{
    color: var(--color-primary);
}

.element {
   padding: 23px 18px;

}

.footer-elements-right {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25px;
}

.footer-elements-right i{
    padding: 23px 18px;
    
}

.footer-credits{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: var(--color-primary);
    display: flex;
    list-style-type: none;
    padding-left:18px;
    padding-bottom:23px;
}

@media(max-width: 1000px){

    .footer-all-elements{
        display:block;
    }

    .footer-elements-left{
        display: block;
        text-align: center;
    }
    
    .footer-credits{
        display:block;
        text-align:center;
        padding-top: 3px;
    }
}

.container-subheader{
    width: 100%;
    background-color: var(--bg-color-secondary);
}
.subheader{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.subheader p {
    font-size: 12px;
    margin: 8px 0;
    font-weight: 400;
    cursor: pointer;
}
.subheader a {
    text-decoration: none;
    color: var(--color-primary);
}


.header{
    width: 100%;
    background-color: var(--bg-color);
    padding:0;
    
}


.header nav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header nav ul{
    
    margin-right: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.header nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header nav ul li a{
    color: var(--bg-color-primary);
    text-decoration: none;
    list-style: none;
}

.header img {
    margin-left: 8px;
    margin-top: 8px;
}

.header .icon-right{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}

.header .icon-right a{
    padding: 10px 13px;
}

.header .checkbtn{
    font-size: 30px;
    float:left;
    line-height: 80px;
    margin-left: 40px;
    display:none;
}

.header #check{
    display:none;

}

.header i{
    cursor: pointer;
}

.header .navegacion{
    padding: 23px 18px;
}

@media(max-width: 1000px){
    .header .checkbtn{
        display: block;
    }
    .header ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--bg-color-secondary);
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index:5;
    }

    .header nav ul li{
        display: block;
        margin: 60px 0;
        line-height: 30px;
    }
    .header nav ul li a{
        font-size: 18px;
    }
    .header #check:checked ~ ul{
        left: 0;

    }
}
