.card-title {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}


.shoppingcart-body{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}
.shoppingcart-listItems{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.shoppingcart-item{
    width: 100%;
    max-height: 120px;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 13px #e9e9f9;
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.shoppingcart-item .image{
    width: 100%;
    object-fit: cover;
}

.shoppingcart-item .body{
    width: 100%;

}

.shoppingcart-item .body-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingcart-item .title{
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 0;
}

.shoppingcart-item .price{
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}


.shoppingcart-item .body-2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.input-ammout{
    width: 20px;
    outline: none;
    border: none;
    color: black;
    text-align: center;
}
.boton-cantidad{
    cursor: pointer;
    outline: none;
}
.body-2 p {
    font-size: 14px;
}
.body-2 i {
    cursor: pointer;
}

.card {
    background-color: #fefefe;
    border: 2px solid #f0eded;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.card-info {
    width: 100%;
}

.card-info h3 {
    font-size: 16px;
    margin-bottom: 16px;
}

.card-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-info li {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 8px;
}

.card-info span {
    width: 30%;
    font-size: 14px;

}

.card-info input[type="number"] {
    width: 70%;
    height: 32px;
    font-size: 18px;
    padding: 8px;
    border: 1px solid #bfb9b9;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 16px;
}

.card-buy {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.card-buy button {
    width: 100%;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}