.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 15px 0;
}

.center-align{
    text-align: center;
    vertical-align: middle;
}

.table-container{
    margin-right: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
}

th{
    color: #334D6E;
}

td{
    color:#707683;
}

.status {
    text-align: center;
    padding: 5px;
}

.status span {
    display: inline-block;
    background-color: #F11061 !important;
    color: white !important;
    padding: 3px 5px;
    border-radius: 5px;
    width: 100%;
}

.status .active-span {
    background-color: #109CF1 !important;
}

.status-orders {
    text-align: center;
    padding: 5px;
}

.status-orders span {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    width: 100%;
}

.status-primary-span {
    background-color: #F1B210;
    color: white;
}

.status-success-span {
    background-color: #109CF1;
    color: white;
}

.status-danger-span {
    background-color: #F11061;
    color: white;
}

.product-create{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-right: 20px;
}

.button{
    width: 100%;
    max-width: 130px;
    font-size: 14px;
    border: none;
    color: var(--text-color);
    background-color:  var(--color-primary);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.button:hover{
    background-color: var(--color-primary-hover);
}

#status{
    
        width: 50%;
        border: none;
        outline: none;
        font-size: 14px;
      
}

  select#status {
    color: #fff;
  }
  
  .select-en-curso {
    background-color: #F1B210; /* Color de fondo para estado "En curso" */
  }
  
  .select-entregado {
    background-color: #109CF1; /* Color de fondo para estado "Entregado" */
  }
  
  .select-cancelado {
    background-color: #F11061; /* Color de fondo para estado "Cancelado" */
  }

  .button-orders{
    width: 50%;
    max-width: 200px;
    font-size: 14px;
    border: none;
    color: var(--color-primary);
    background-color:  var(--bg-color-secondary);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .button-orders:hover{
    background-color: rgb(255, 255, 255);
  }

  